@media (max-width:567px) and (min-width:0px)
{
    .nav
    {
        position: sticky;
        top:0px;
        left:0px;
        z-index: 99999;
        background-color: white;
    }
    .part1
    {
        margin-left: 0;
        width: 100%;
        height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 120px; 
        padding: 0 20px;
        /* border: 1px solid yellow; */
    }
    #bars
    {
        display: block;
    }
    .part1 img{
        width: 25%;
        height: 50%;
    }
    .part2
    {
        position: fixed;
        width: 63%;
        z-index: 999;
        background-color:white;
        top:79px;
        left:-100%;
        transition: 400ms;
        height: 100vh;
        color: black;
        
    }
    .line{
        display: none;
    }
    .search-icon
    {
        display: none;
    }
    .part2 ul 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    align-items: start;
    height: 0px;
    padding:10px;
}
.part2 ul li
{
    padding: 30px;
}
    .mega-menu
    {
    display: none;
    }
    .part3
    {
        position: fixed;
        width: 63%;
        z-index: 999;
        /* background-color:rgba(0, 0, 0, 0.626); */
        top:349px;
        left:-100%;
        /* height: 100vh; */
        color: black;
        transition: 400ms;
        
    }
    .part3 ul
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0px;
        align-items: start;
        height: 0px;
        padding:10px;
        /* color: white; */
    }
    .part3 ul li
    {
        width: 200px;
    }
.img-top-stories
{
   width: 100%;
   height: 270px;
}

.img-top-stories img
{
    width: 98%;
    height: 100%;
}
.part2-website
{
    padding: 10px;
}
.meta-heading h3
{
    font-size: 16px;
}
.meta-para
{
    display: none;
}
.top-stories-section
{
    display: flex;
    flex-direction: column;
    height: 200%;
}
.right-top-stories
{
    width: 100%;
    height: 200%;
}
.left-top-stories
{
    width: 100%;
    height: 100%;
}
.right-top-stories-part1
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 43%;
}
.meta-quest-content
{
width: 100%;
height: 150px;
}
.meta-quest-image
{
    order: -1;
    width: 338px;
    height: 270px
}
.meta-quest-image img{
width: 100%;
height: 100%;
}
.meta-quest-para
{
    display: none;
}
.meta-quest-heading p
{
    margin-top: 20px;
}
.meta-quest3s-heading
{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.part3-website
{
    display: flex;
    flex-direction: column;
    height: 550px;
}
.part3-first-section
{
    width: 100%;
    height: 222px;
}
.insta-heading
{
    padding-top: 50px;
}
.part3-first-section h3
{
    font-size: 18px;
    line-height: 20px;
}
.part3-first-section p
{
    display: none;
}
.part3-second-section
{
    width: 100%;
    height: 337px;
}
.part4-website
{
    margin: 50px auto;
    width: 100%;
    height: 1030px;
    display: flex;
    flex-direction: column;
}
.part4-website-left-part
{
    width: 100%;
    height:70px;
    padding: 20px;
}
.part4-website-left-part li
{
    display: none;
}
.part4-website-left-part h4
{
    display: none;
}
.part4-website-right-part
{
    width: 100%;
    height: 100%;
}
.part4-website-right-part1
{
    width: 100%;
    height: 170px;
    margin-bottom: 0px;
}
.part4-website-right-part1-left
{
    width: 195px;
    height: 141px;
}
.part4-website-right-part1-right 
{
    padding-top: 20px;
    width: 180px;
    height: 135px;
}
.part4-website-right-part1-right img
{
    width: 100%;
    height: 100%;
}
.fourth-part-meta-content p {
    display: none;
}
.fourth-part-meta-content h3{
    font-size: 17px;
    padding-top: 6px;
}
.fourth-part-meta-content span
{
font-size: 11px;
}
.horizontal-line
{
    width: 97%;
    height: 0.5px;
    background-color: rgb(197, 189, 189);
    margin-top: 15px;
    margin-left: 5px;
}
.see-news-more
{
    margin-top: 5px;
}
.part5-website
{
    width: 100%;
    height: 192px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px;
    justify-content:start;
    margin-bottom: 0px;

}
.part5-website h3
{
    margin-bottom: 15px;
    margin-top: 30px;
}
.part5-website p
{
    padding-bottom: 10px;
    font-size: 13px;
}
.footer
{
    width: 100%;
    height: 542px;
    display: flex;
    flex-direction: column ;
    gap: 20px;
}
.footer-first-part
{
    width: 100%;
    height: 0px;
}
.footer-first{
    width: 100%;
    height: 200px;
}

.footer-second
{
    width: 100%;
    height: 30px;
}
.footer-third
{
    width: 100%;
    height: 60px;
}
.footer-fourth
{
    width: 100%;
    height: 100px;
}
.footer-first-part li
{
    display: none;
}
.last-section
{
    width: 100%;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:start ;
    gap: 20px;
}
.last-section-left
{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: start;
    gap: 40px;
    padding-left: 30px;
    font-size:18px;
 margin-left: 0px;
}
.last-section-right
{
    width: 100%;
    padding:40px 0px 20px 30px;
    font-size: 15px;
    border-top: 0.1px solid rgba(221, 211, 211, 0.724);
}


}


@media (max-width:968px) and (min-width:576px)
{
    .main
    {
        width: 100%;
    }
    .nav
    {
        width: 100%;
        background-color: white;
        position: sticky;
        top:0px;
        left:0px;
    }
    .part1
    {
        margin-left: 0;
        width: 100%;
        height: 100%;
      display: flex;
      justify-content:flex-start;
      gap: 335px;
      align-items: center;

        padding: 0 20px;
        /* border: 1px solid yellow; */
    }
    .meta-para
    {
        width: 100%;
    }
    .meta-content
    {
        width: 100%;
    }
    .meta-para p
    {
        width: 100%;

    }
    .meta-content p
    {
        width: 100%;
    }
    #bars
    {
        display: block;
    }
    .part1 img{
        width: 100px;
        height: 71px;
    }
    .part2
    {
        position: fixed;
        width: 63%;
        z-index: 999;
        background-color:white;
        top:79px;
        left:-100%;
        transition: 400ms;
        height: 100vh;
        color: black;
        
    }
    .part2 ul 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    align-items: start;
    height: 0px;
    padding:10px;
}
.part2 ul li
{
    padding: 30px;
}
    .mega-menu
    {
    display: none;
    }
    .part3
    {
        position: fixed;
        width: 63%;
        z-index: 999;
        /* background-color:rgba(0, 0, 0, 0.626); */
        top:349px;
        left:-100%;
        /* height: 100vh; */
        color: black;
        transition: 400ms;
        
    }
    .part3 ul
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0px;
        align-items: start;
        height: 0px;
        padding:10px;
        /* color: white; */
    }
    .part3 ul li
    {
        width: 200px;
    }
    .line{
        display: none;
    }
    .search-icon
    {
        display: none;
    }
.img-top-stories
{
   width: 100%;
   height: 270px;
}
.newsroom-heading
{
    padding: 20px;
}
.top-story
{
    padding: 20px;
}

.top-stories-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:20px;
}
.left-top-stories{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.right-top-stories{
    max-width: 100%;
    height: 100%;
}
.img-top-stories{
    width: 100%;
    height: 100%;
}
.img-top-stories img {
    width: 100%;
    height: 100%;
}
.left-meta-content
{
    max-width: 100%;
    height: 100%;
    order: -2;
    margin-bottom: 10px;
}
.right-top-stories-part1{
   max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meta-quest-content{
width: 422px;
height: 191px;
margin-right: 50px;
}
.meta-quest-image
{
    width: 321px;
    height: 241px;

}
.meta-quest-image img
{
    width: 50%;
    height: 100%;
}
.meta-quest3s-heading{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.part3-website{
    width: 100%;
    height: 389px;
    margin-top: 70px;

}
.part3-first-section
{
    width: 50%;
    height: 100%;
}
.part3-second-section{
    width: 50%;
    height: 100%;
}
.part3-first-section h3
{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    color: rgb(0, 0, 0);
    line-height: 22px;
}
.part4-website{
    width: 100%;
    height: 1770px;
    display: flex;
    /* margin-top: 120px;    */
    padding-top: 130px;
    align-items: center;
}
.part4-website-left-part
{
    width:30%;
    height: 1686px;
}
.part4-website-right-part
{
    /* margin-top: 50px; */
    width: 70%;
    height: 1636px;
}
.part4-website-right-part1
{
    width: 100%;
    height: 301px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.part4-website-right-part1-left
{
    width: 60%;
    height: 301px;
}
.part4-website-right-part1-right
{
    width: 40%;
    height: 221px;
}
.part4-website-right-part1-right img
{
    width: 100%;
    height: 100%;
}

.fourth-para-meta-content h3{
    font-size: 12px;
}
.footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 518px;
}
.footer-first
{
    width: 30%;
    margin:20px auto;
    height: 200px;
}
.footer-first-part li
{
    display: none;
}
.footer-second{
    width: 100%;
    height: 34px;
}
.footer-third
{
width: 100%;
height: 77px;
}
.footer-fourth{
    width: 100%;
    height: 78px;
}
.last-section-right p
{
margin-top: 12px;
}
.left-top-stories
{
    margin-top: 0px;
}
.meta-heading h3
{
    margin-bottom: 15px;
}
.last-section
{
    display: none;
}
.fourth-part-meta-content
{
    width: 100%;
    padding: 0px;
}
.horizontal-line{
    width: 95%;
    margin-left: 10px   ;
}
}