*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav
{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 2px grey;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
transition: 300px;
}
.part1
{
    width: 100px;
    height:50%;
    /* border: 1px solid red; */
    margin-left: 80px;
}
#bars
{
    display: none;
    cursor: pointer;
}
.part2
{
    width: 800px;
    height: 100%;
    /* border: 1px solid red; */
}
.part3
{
    width: 200px;
    height: 100%;
    /* border: 1px solid blue; */
    margin: 30px;
    display: flex;
    align-items: center;
gap: 20px;
}
.part2 ul 
{
    list-style-type: none;
    display: flex;
    align-items: center;
gap: 25px;
    height: 100%;
    cursor: pointer;
}
.shop-line
{
    position: relative;
    /* border: 1px solid red; */
    height: 60%;
    overflow: hidden;
}
.part2 ul li
{
    height: 100%;
    padding-top: 30px;
    /* position: relative; */
    
}
.support-para
{
    width: 100px;
    height: 100%;
    /* border: 1px solid green; */
}
.support-para ul{
    height: 100%;
    list-style-type: none;
    padding-top: 30px;
    cursor: pointer;
}
.line
{
    background-color: rgb(178, 173, 173);
    height: 40px;
    width: 1px;
}
.search-icon
{
    margin-right: 10px;
}
.part2-website
{
    max-width: 1300px;
    /* border: 1px solid black; */
    margin: auto;
}
.newsroom-heading
{
    color: #666666;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.top-stories-section
{
    max-width: 1390px;
    height: 956px;
    font-size: 20px;
   
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
}
.left-top-stories
{
    max-width: 679px;
    height: 906px;
    /* border: 10px solid yellow; */
    margin-top: 20px;
}
.img-top-stories
{
    width: 629px;
    height: 471px;
    overflow: hidden;
}
.left-meta-content
{
    max-width: 629px;
    max-height: 209px;
    /* border: 1px solid black; */
    margin-top: 30px;
}
.meta-content
{
    color: rgb(0, 0, 0);
}
.meta-line
{
    width: 54px;
    height: 2px;
    background-color:#1877F2;
}
.meta-heading
{
    color: #000;
    margin-top: 20px;
    font-size: 25px;
}
.meta-para
{
    font-size: 14px;
}
 .sep25{
    height: 20px;
    font-size: 12px;
 
}
.right-top-stories
{
    max-width: 649px;
    height: 900px;  
    /* border: 10px solid green; */
}
.right-top-stories-part1
{
    max-width: 649px;
     height: 264px;
    /* border: 1px solid blue; */
    margin-top: 20px;
    display: flex;
}
.top-story
{
    font-size: 20px;
    margin-bottom: 10px;
}
.meta-quest-content
{
    width: 395px;
    height: 234px;
    /* border: 1px solid pink; */
}
.meta-quest-image
{
    width: 263px;
    height: 197px;
    overflow: hidden;
    /* border: 1px solid blue; */
}
.meta-quest-line
{
    margin-top: 3px;
    width: 115px;
    height: 2px;
    background-color:#1877F2;
}
.meta-quest3s-heading
{
    margin-top: 10px;
}
.meta-quest-para
{
    font-size: 15px;
    color: #666;
    margin-top: 10px;
}
.meta-quest-span
{
    font-size: 12px;
    color: #666;
}
.part3-website
{
    width: 100%;
    height: 565px;
    /* border: 1px solid black; */
    display: flex;
}
.part3-first-section
{
    width: 50%;
    height: 565px;
    /* border: 1px solid red; */
    background-color: #f1f2f4;
}
.part3-second-section
{
    width:50%;
    height: 565px;
    /* border: 1px solid red; */
    background: url('../facebook-res/5.jpg');
    background-size: cover;
}
.insta-line
{
    width: 97px;
    height: 1.5px;
    background-color: #f41212;
}
.insta-heading
{
    color: rgb(35, 35, 35);
    letter-spacing: 1.08px;
    padding-top: 100px;
    font-size: 20px;
    padding-left: 30px;
}
.insta-heading h5{
    font-weight: 400;
}

.part3-first-section h3{
    padding:10px 30px;
    letter-spacing: 1.08px;
    line-height: 43px;
    font-size: 36px;
    font-weight: 400;
}
.part3-first-section p{
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 0.8px;
    color: rgb(102, 102, 102);

}
.nav-line
{
    width: 60px;
    height: 1px;
    background-color:#007CF6;
    border-radius: 1px;
    position: absolute;
    top:2px;
    left:-300%;
}

.part3-first-section span
{
    padding: 10px 30px;
font-size: 12px;
color: #666666;
}
.part4-website
{
    margin: 50px auto;
    width: 1290px;
    height: 1541px;
    /* border: 5px solid red; */
    display: flex;
    gap: 25px;
}
.part4-website-left-part
{
    width: 230px;
    transition: 400ms ;
    height: 1561px;
    /* border: 1px solid black; */
    padding-left: 20px;
}
.part4-website-left-part h5{
    color: rgb(51, 51, 51);
    font-size: 14px;
    padding: 10px;
}
.part4-website-left-part li{
    list-style: none;
    padding: 10px;
    color: rgba(51, 51, 51, 0.599);
    font-size: 13px;
    font-weight: 400;
  
}
.part4-website-left-part h4
{
    padding: 50px 0px 0px 10px;
    color:rgb(103, 123, 140) ;
}
.part4-website-left-part li:hover
{
color:rgb(0, 0, 0);
cursor: pointer;
}
.part4-website-right-part
{
    width: 870px;
    height: 1521px;
    /* border: 1px solid red; */
}
.part4-website-right-part1
{
    width: 866px;
    height: 241px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.part4-website-right-part1-left
{
    width: 503px;
    height: 229px;
    /* border: 1px solid blue; */
}
.part4-website-right-part1-right
{
    width: 322px;
    height: 241px;
    overflow: hidden;
    /* border: 1px solid yellow; */
}
.fourth-part-meta-content 
{
padding: 20px;
}
.fourth-part-meta-content h4
{
    font-weight: normal;
    font-size: 18px;
}
.meta-line-four
{
    width: 50px;
    height: 1px;
    background-color:#1877F2;
}
.fourth-part-meta-content h3{
    padding-top: 20px;
    font-size: 21px;
    font-weight: normal;
}
.fourth-part-meta-content p{
    padding-top: 5px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    letter-spacing: 0.8px;
    line-height: 24px;
}
.fourth-part-meta-content span{
    font-size: 12px;
    color: black;
}
.horizontal-line
{
    width: 98%;
    height: 1px;
    background-color: rgb(209, 201, 201);
    margin-left: 20px;
}
.see-news-more
{
width: 150px;
height: 50px;
/* border: 1px solid red; */
margin-top: 20px;
margin-left: 30px;
display: flex;
align-items: center;
justify-content: space-around;
}
.icon-see-more-news
{
    width: 26px;
    height: 26px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 50%;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}
.see-more-text
{
    width: 120px;
    height: 30px;
    /* border: 1px solid blue; */
    font-size: 14px;
    color: rgb(102, 102, 102);
    display: flex;
    align-items: center;
    justify-content: center;
}
.part5-website
{
    width: 100%;
    height: 109px;
    /* border: 1px solid black; */
    background-color: #f1f2f4;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part5-website h3
{
    font-weight: normal;
}
.part5-website p
{
    font-size: 13px;
    color: #3a3a3a;
    cursor: pointer;
}
.footer
{
    width: 100%;
    height: 822px;
    /* border: 1px solid red; */
    padding: 40px 20px;
    display: flex;
}
.footer-first-part
{
    width: 366px;
    height: 622px;
    /* border: 1px solid red; */
}
.footer-icon
{
width: 120px;
height: 60px;
/* border: 1px solid green; */
}
.follow-us
{
width: 236px;
height: 25px;
/* border: 1px solid blue; */
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}
.footer-first-part p
{
    margin-top: 50px;
    padding-left: 12px;
}
.icons{
    width:24px;
    height:24px;
    /* border: 1px solid blue; */
}
.footer-first-part h4
{
    color: rgb(52, 72, 84);
    font-weight: 550;
    /* font-weight: normal; */
    font-size: 16px;
    letter-spacing: 0.8px;
    padding-left: 10px;
line-height: 19px;
}
.footer-first-part li
{
    padding: 9px;
    font-size: 12px;
    list-style-type: none;
    color: rgb(34, 34, 34);

}
.footer-first-part a{
    text-decoration: none;
}
.last-section
{
    width: 100%;
    height: 38px;
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: space-between;
}
.last-section-left
{
    width: 700px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 13px;
    margin-left: 20px;
}
.last-section-right
{
    width: 200px;
    height: 100%;
    /* border: 1px solid blue; */
    font-size: 13px;
    /* margin-left: 20px; */
    padding-left: 10px;
}
.mega-menu
{
    width: 100%;
    position: absolute;
    left: 0;
    top:82px;
    visibility: hidden;
    opacity: 0;
    height: 500px;
    background-color:white;
    transition: 400ms;
    /* border: 1px solid yellowgreen; */
}
.nav li:hover .mega-menu{
    visibility: visible;
    opacity: 1;
}

.mega-menu-part1
{
    width: 500px;
    height: 100px;
    /* border: 1px solid red; */
    /* background-color: yellow; */
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.mega-part1-left
{
    width: 200px;
    height: 100px;
    /* border: 1px solid green; */
}
.mega-menu-part2
{
    width: 500px;
    height: 300px;
    /* border: 1px solid darkblue; */
    margin-left: 200px;
    display: flex;
}
.mega-menu-part2-left
{
    width: 200px;
    height: 300px;
    /* border: 1px solid red; */
}
.mega-menu-part2-left h4
{
    color: #708091;
    font-size: 14px;
    padding-left: 10px;
}
.mega-menu-part2-right
{
    width: 300px;
    height: 300px;
    /* border: 1px solid red;*/
}
.mega-menu-part2-right h4
{
    color: #708091;
    font-size: 14px;
    padding-left: 10px;
}
.mega-menu-part2-right p
{
    font-size: 14px;
    padding: 10px; 
}

.mega-menu-part2-left p
{
font-size: 14px;
padding: 10px;
}
.mega-part1-right
{
    width: 200px;
    height: 100px;
    /* border: 1px solid blue; */
}
.mega-our-menu
{
    width: 600px;
    height: 350px;
    /* border:1px solid red; */
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
}
.mega-our-menu-parts
{
    width: 200px;
    height: 100%;
    /* border: 1px solid blue; */
}
.mega-our-menu-parts h4
{
    color: #708091;
    font-size: 14px;
    padding-left: 10px;
}
.mega-our-menu-parts p
{
    font-size: 14px;
padding: 10px;
}
.mega-menu-about-us
{
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
    margin-left: 200px;
    margin-top: 60px;
    display: flex;
}
.mega-menu-about-us-parts
{
    width: 200px;
    height: 300px;
    /* border: 1px solid red; */
}
.mega-menu-about-us-parts p
{
    font-size: 14px;
}
.mega-menu-build-with-us
{
    width: 500px;
    height: 300px;
    /* border: 1px solid red; */
    margin-left: 200px;
    margin-top: 60px;
    display: flex;
    
}
img{
    transition: 300ms;
}
img:hover{
    transform: scale(1.02);
}
.downArrow
{
    transition: 300ms;
}
.part2 ul li:hover .downArrow
{
    transform: rotate(180deg);
}
.part3 ul li:hover .downArrow
{
    transform: rotate(180deg);

}
.part2 ul li:hover .nav-line
{
  animation: line 200ms linear forwards;
}
@keyframes line {
   from{
    left:-100%
   }
   to
   {
    left:0px;
   }
}
.part2 ul li:not(hover) .nav-line
{
    animation: line1 200ms linear forwards;
}
@keyframes line1 {
    from{
        left:0px;
    }
    to
    {
    left: 100%;
    }
}
.mega-menu-build-with-us-parts
{
    width: 200px;
    height: 100%;
    /* border: 1px solid green; */
}
.mega-menu-build-with-us-parts
{
    font-size: 14px;
    color: rgb(10, 8, 8);
    font-family: Tahoma;
}
.left-right
{
    left: 0 !important;
}

.overflow-y
{
    overflow-y: hidden !important;
}
.overlay
{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.339);
    position:absolute;
    top:0px;
    left:0px;
    opacity: 0;
    visibility: hidden;
}
.overlay-overright
{
    opacity: 1;
    visibility: visible;
}
